<div class="oif-slider-container {{#if disabled}} oif-disabled {{/if}}">
  <div class="oif-option-text-container">
    {{> "oif.config.name"}}
    <div class="oif-option-slider-container">
      <input name="{{name}}" style="width: 465px; margin-right: 15px;" type="range" min="{{range.min}}" max="{{range.max}}" step="{{range.step}}" value="{{value}}" {{#if disabled}} disabled {{/if}}>
      <input name="{{name}}" style="width: 50px;" type="number" min="{{range.min}}" max="{{range.max}}" step="{{range.step}}" value="{{value}}" {{#if disabled}} disabled {{/if}}>
    </div>
    <p class="oif-option-hint"> {{localize hint}} </p>
  </div>
</div>
