<div class="oif-dropdown-container {{#if disabled}} oif-disabled {{/if}}">
    <div class="oif-option-text-container">
        {{> "oif.config.name"}}
        <div class="oif-option-dropdown-container">
            <select name="{{name}}" id="{{referenceID}}" {{#if disabled}} disabled {{/if}}>
                {{#each choices}}
                    <option value="{{value}}" {{#if (eq ../value value)}} selected {{/if}}> {{localize name}} </option>
                {{/each}}
            </select>
        </div>
        <p class="oif-option-hint"> {{localize hint}} </p>
    </div>
</div>