<form>
    <div class="oif-settings-container">

        {{#each settings}}
            {{#if checkbox}}
            <div class="oif-checkbox-container" {{#if disabled}} style="opacity: 0.5;" {{/if}}>
                <input type="checkbox" id="{{referenceID}}" {{#if disabled}} disabled {{else}} {{#if value}} checked {{/if}} {{/if}}>
                <div class="oif-option-text-container">
                    <label class="oif-option-checkbox-title" for="{{referenceID}}"> 
                        <span> {{localize name}} 
                            {{#if disabled}} 
                                <i style="color:red; font-weight: bold;"> {{localize disabledMessage}} </i> 
                            {{/if}}
                            {{#if requiresRestart}}
                                <i style="color:red; font-weight: bold;"> {{localize restartMessage}} </i>
                            {{/if}}
                        </span>  
                    </label>
                    <p class="oif-option-hint"> {{localize hint}} </p>
                </div>
            </div>
            <hr>
            {{/if}}

            {{#if slider}}
            <div class="oif-slider-container" {{#if disabled}} style="opacity: 0.5;" {{/if}}>
                <div class="oif-option-text-container">
                    <label class="oif-option-title"> 
                        <span> {{localize name}} 
                            {{#if disabled}} 
                                <i style="color:red; font-weight: bold;"> {{localize disabledMessage}} </i> 
                            {{/if}}
                            {{#if requiresRestart}}
                                <i style="color:red; font-weight: bold;"> {{localize restartMessage}} </i>
                            {{/if}}
                        </span>  
                    </label>
                    <div class="oif-option-slider-container">
                        <input style="width: 465px; margin-right: 15px;" type="range" min="{{range.min}}" max="{{range.max}}" step="{{range.step}}" value="{{value}}" id="{{referenceID}}" {{#if disabled}} disabled {{/if}}>
                        <input style="width: 50px;" type="number" min="{{range.min}}" max="{{range.max}}" step="{{range.step}}" value="{{value}}" id="{{referenceID}}" {{#if disabled}} disabled {{/if}}>
                    </div>
                    <p class="oif-option-hint"> {{localize hint}} </p>
                </div>
            </div>
            <hr>
            {{/if}}

            {{#if dropdown}}
            <div class="oif-dropdown-container" {{#if disabled}} style="opacity: 0.5;" {{/if}}>
                <div class="oif-option-text-container">
                    <label class="oif-option-title"> 
                        <span> {{localize name}} 
                            {{#if disabled}} 
                                <i style="color:red; font-weight: bold;"> {{localize disabledMessage}} </i> 
                            {{/if}}
                            {{#if requiresRestart}}
                                <i style="color:red; font-weight: bold;"> {{localize restartMessage}} </i>
                            {{/if}}
                        </span>  
                    </label>
                    <div class="oif-option-dropdown-container">
                        <select name="{{name}}" id="{{referenceID}}" {{#if disabled}} disabled {{/if}}>
                            {{#each choices}}
                                <option value="{{value}}" {{#if selected}} selected {{/if}}> {{localize name}} </option>
                            {{/each}}
                        </select>
                    </div>
                    <p class="oif-option-hint"> {{localize hint}} </p>
                </div>
            </div>
            <hr>
            {{/if}}

        {{/each}}
    </div>
</form>